.transform(@t) {
  -webkit-transform: @t;
  -moz-transform: @t;
  -ms-transform: @t;
  -o-transform: @t;
  transform: @t;
}

.vertically-center {
  position: absolute;
  top: 50%;
  .transform(translate(0, -50%));
}

.deck-container {
  width: auto;
  max-width: 864px;
  margin: 16px auto 24px auto;
  font-size: 16px;
}

.theme-menu {
  display: none;
  float: left;
  color: #888;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
  line-height: 32px;
  height: 32px;
  font-family: sans-serif;
  padding-right: 15px;
  margin-left: 15px;
}
.js .theme-menu {
  display: block;
}
.theme-menu label {
  font-size: 12px;
  vertical-align: baseline;
  margin: 0 4px 0 15px;
}

.deck-container-wrapper {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  color: #444;
  line-height: 1.25;
  background-color: transparent;
}

.ui-layout-pane {
    border: 0;
    padding: 0;
}

@deck-container-width: 70%;
.deck-container-wrapper {
    float: left;
    height: 100%;
    width: @deck-container-width;
}

.editors-wrapper {
    float: left;
    height: 100%;
    width: 100% - @deck-container-width;
    .editors {
        & > .less {
            height: 50%;
        }
        & > .css {
            height: 50%;
        }
    }
}


.CodeMirror-scroll {
    height: auto;
    overflow: visible;
}

.deck-container {
    margin: 0 auto;
    padding: 0;
    visibility: visible;
    .editor-pair {
        padding: 1%;
        .less-wrapper {
            float: left;
            width: 49%;
            margin-right: 2%;
            border-color: #fff;
            .less-header {
                background-color: #888888;
                border-radius: 5px 5px 0 0;
                color: #FFFFFF;
                padding: 5px;
            }
        }
        .css-wrapper {
            float: left;
            width: 49%;
            .css-header {
                background-color: #888888;
                border-radius: 5px 5px 0 0;
                color: #FFFFFF;
                padding: 5px;
            }
        }
    }
    .slide {
        @hpadding: 48px;

        h2 {
            border-width: 0;
        }
        & .wrap {
            .vertically-center;
            left: 0;
            right: 0;
        }
        &#title-slide {
            text-align: center;
            hgroup {
                margin-bottom: 32px;
                h1 {
                    -moz-transform: none;
                    position: static;
                    top: 50%;
                    margin-bottom: 10px;
                    img {
                        margin-bottom: 0;
                    }
                }
                h2 {
                    border-width: 0;
                    color: #999999;
                    font-size: 24px;
                    font-weight: 100;
                    letter-spacing: 2px;
                    text-shadow: 1px 1px 1px #FFFFFF;
                }
            }
        }
        &.title-only {
            text-align: center;
            padding: 0;
            & > h2 {
                border-width: 0;
                margin-left: -1 * @hpadding;
                width: 100%;
                padding-top: 0;
                .vertically-center;
            }
        }
//        &.has-children {
//            .deck-before:not(.deck-child-current),
//            .deck-previous:not(.deck-child-current) {
//                display:none;
//            }
//        }

//        &.title-only.has-children {
//            &.deck-previous,
//            &.deck-before {
//                & > h2 {
//                    top: 10px;
//                    .transform(none);
//                    width: auto;
//                }
//            }
//            .slide {
//                &.deck-previous,
//                &.deck-before {
//                    display: none;
//                }
//                margin-top: 50px;
//            }
//        }
    }
}

.shadowed-box() {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.05) inset;
    position: relative;
    &:before {
        border-radius: 10px 10px 10px 10px / 150px 150px 150px 150px;
        bottom: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 10px;
        z-index: -2;
    }
}

.slide pre.fancy {
    .shadowed-box();
}
.editors.ui-layout-container {
    background-color: transparent;
}
.editors > .less,
.editors > .css {
//    .shadowed-box();
    /*margin: 10px;*/
    background-color: #fff;
}

.slide li {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 20px;
    float: left;
    /*clear: left;*/
    padding: 10px 20px;
    list-style-type: none;
    margin: 0 20px 20px 0;
    font-size: 1.2em;
    color: #bbb;
    &.deck-current {
        border: 1px solid #AAAAAA;
        box-shadow: 0 0 3px #666;
        color: #444;
    }
}


@media print {
  header, footer {
    display: none !important;
  }

  .introduction .deck-container {
    font-size: 1.25em;
  }
}
